<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://th.bing.com/th/id/OIP.V-dOLJYLOvbJlbITQ_ezPAHaIe?w=160&h=183&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="img-responsive d-block w-100" width="70%" height="500" alt="Questions">
            <div class="carousel-caption">
                <h1 class="text-dark">Welcome to DoConnect</h1>
                <h5 class="text-dark">Without questions,there is no learning.</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://th.bing.com/th/id/OIP.QZ72Ej1jxGHCF8t3nQYvcAHaEK?w=318&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="img-responsive d-block w-100" width="70%" height="500" alt="Questions">
            <div class="carousel-caption">
                <h1>Welcome to DoConnect</h1>
                <h5>To ask the right question is harder than to answer it.</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://tse4.mm.bing.net/th/id/OIP.hDX2VnhEx_ki-XjHTwDGfQHaE7?w=249&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="img-responsive d-block w-100" width="70%" height="500" alt="Questions">
            <div class="carousel-caption">
                <h1 class="text-dark">Welcome to DoConnect</h1>
                <h5 class="text-dark">Assume nothing,question everything.</h5>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" class="card-img-top" src="https://th.bing.com/th/id/OIP.oqWzja18YkrjnRk38TBJwQHaHa?pid=ImgDet&rs=1" alt="Java" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Java</h4>
                    <p class="card-text">Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible. </p>
                    <a href="#" class="fa fa-thumbs-up"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" class="card-img-top" src="https://th.bing.com/th/id/OIP.pqcPskVdTrJqfhZ-Z49AtQHaHn?w=182&h=187&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="HTML" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">HTML</h4>
                    <p class="card-text">The HyperText Markup Language, or HTML is the standard markup language for documents designed to be displayed in a web browser.</p>
                    <a href="#" class="fa fa-thumbs-up"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" class="card-img-top" src="https://th.bing.com/th/id/OIP.Cw9x2SMnoMopkhrJvQHU4QHaHa?w=187&h=187&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="CSS" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">CSS</h4>
                    <p class="card-text">
                        Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.</p>
                    <a href="#" class="fa fa-thumbs-up"></a>
                </div>
            </div>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" class="card-img-top" src="https://th.bing.com/th/id/OIP.U7m8szFsPNjbty8hyWGGCgHaDt?w=296&h=174&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Bootstrap" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Bootstrap</h4>
                    <p class="card-text">Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. </p>
                    <a href="#" class="fa fa-thumbs-up"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" class="card-img-top" src="https://th.bing.com/th/id/OIP.X0Up2Pdq1ZDskAe51Uac4gHaE8?w=251&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Spring" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Spring Framework</h4>
                    <p class="card-text">The Spring Framework is an application framework and inversion of control container for the Java platform. The framework's core features can be used by any Java application, but there are extensions for building web applications on
                        top of the Java EE (Enterprise Edition) platform.</p>
                    <a href="#" class="fa fa-thumbs-up"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" class="card-img-top" src="https://th.bing.com/th/id/OIP.CNKAWV1xj0ny4VbUwZa_mgHaHa?w=174&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Tomcat" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Apache Tomcat</h4>
                    <p class="card-text">The Apache Tomcatr software is an open source implementation of the Java Servlet, JavaServer Pages, Java Expression Language and Java WebSocket technologies.</p>
                    <a href="#" class="fa fa-thumbs-up"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" class="card-img-top" src="https://th.bing.com/th/id/OIP.e-p57K8H_yzQFpa6mzSJvQHaCY?w=326&h=112&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Jenkins" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Jenkins</h4>
                    <p class="card-text">
                        Jenkins is an open source automation server. It helps automate the parts of software development related to building, testing, and deploying, facilitating continuous integration and continuous delivery.</p>
                    <a href="#" class="fa fa-thumbs-up"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" class="card-img-top" src="https://www.bing.com/th?id=OIP.GqY4jk1KA_cXWBRINu4BEQHaD1&w=205&h=106&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="SQL" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">MySQL</h4>
                    <p class="card-text">MySQL is an open-source relational database management system (RDBMS). Its name is a combination of "My", the name of co-founder Michael Widenius's daughter, and "SQL", the abbreviation for Structured Query Language. </p>
                    <a href="#" class="fa fa-thumbs-up"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" class="card-img-top" src="https://th.bing.com/th/id/OIP.Vwgmj5Jj2JdVHIEYlYwTegHaBv?w=343&h=82&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Eclipse" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Eclipse</h4>
                    <p class="card-text">Eclipse is an integrated development environment (IDE) used in computer programming. It contains a base workspace and an extensible plug-in system for customizing the environment. Eclipse is written mostly in Java and its primary use
                        is for developing Java applications.</p>
                    <a href="#" class="fa fa-thumbs-up"></a>
                </div>
            </div>
        </div>
    </div><br/>
</div>