<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://th.bing.com/th/id/OIP.nCrwL6GmNxyRQiZ_xlBfEwHaEO?pid=ImgDet&rs=1" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">User Sign in</p>

                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" [(ngModel)]="user.userEmail" class="form-control form-control-lg" placeholder="Enter your user name" #userEmail="ngModel" required/>
                    <label class="form-label" for="form3Example3">User Email</label>
                    <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="alert alert-danger">
                        <div *ngIf="userEmail.hasError('required')">Email is required</div>
                    </div>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" id="form3Example4" [(ngModel)]="user.password" class="form-control form-control-lg" placeholder="Enter password" #password="ngModel" pattern="[0-9]+" minlength="4" maxlength="8" required/>
                    <label class="form-label" for="form3Example4">Password</label>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                        <div *ngIf="password.hasError('required')">Password is required</div>
                        <div *ngIf="password.hasError('minlength')">Minimum 4 characters is required</div>
                    </div>
                </div>
                <p class="text-danger">{{msg}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                    </div>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button (click)="login()" type="button" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a style="cursor: pointer;" (click)="register()" class="link-danger">Register</a></p>

                </div>

            </div>
        </div>
    </div>
</section>